form {
  .input {
    margin-bottom: 0.5rem;

    label {
      display: block;
      margin-bottom: 0.25rem;
      font-size: 1rem;
    }

    input {
      padding: 0.5rem;
      border: 1px solid #E5E5E5;
      border-radius: 5px;
      font-size: 1rem;
      outline: none;
      width: 100%;
      box-sizing: border-box;

      &:active, &:focus {
        border-color: #E85F4F;
      }
    }
  }

  input[type=submit] {
    padding: 0.5rem 1rem;
    background-color: #E85F4F;
    border: none;
    border-radius: 5px;
    width: 100%;
    transition: all 250ms ease-in-out;
    font-size: 1rem;
    color: #FFFFFF;

    &:hover {
      background-color: darken(#E85F4F, 10%);
      color: #FFFFFF;
      transition: all 250ms ease-in-out;
    }
  }
}
